@font-face {
    font-family: sh;
    src: url(font/Lalezar-Regular[@fontraigannn].ttf);
}

body {
    font-family: sh;
}

.sh {
    font-family: sh;
}

@media only screen and (max-width: 576px) {
    .col-12 {
        width: 90% !important; /* عرض فرم 80% دیوایس */
        margin-left: auto;
        margin-right: auto;
    }
}